- name: Get ICSPs
  kubernetes.core.k8s_info:
    api_version: operator.openshift.io/v1alpha1
    kind: ImageContentSourcePolicy
  register: icsp_list
  until: icsp_list is not failed

- name: Get ImageDigestMirrorSets
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: ImageDigestMirrorSet
  register: idms_list
  until: idms_list is not failed

- name: Get ImageTagMirrorSets
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: ImageTagMirrorSet
  register: itms_list
  until: itms_list is not failed

- name: Merge the lists
  ansible.builtin.set_fact:
    lists_merged: "{{ icsp_list.resources + idms_list.resources + itms_list.resources }}"

- name: Delete mirror configuration
  loop: "{{ lists_merged }}"
  loop_control:
    label: "{{ item.metadata.name }}"
  kubernetes.core.k8s:
    definition:
      apiVersion: "{{ item.apiVersion }}"
      kind: "{{ item.kind }}"
      metadata:
        name: "{{ item.metadata.name }}"
    state: absent
    wait: true
    wait_timeout: 600

- name: Check for OperatorHub
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: OperatorHub
    name: cluster
  register: operatorhub
  until: operatorhub is not failed

- name: Disable default sources
  when: operatorhub.resources | length | int > 0
  kubernetes.core.k8s:
    definition:
      apiVersion: config.openshift.io/v1
      kind: OperatorHub
      metadata:
        name: cluster
      spec:
        disableAllDefaultSources: true
    state: present
  register: k8s_result
  until: k8s_result is not failed

- name: Get CatalogSources
  kubernetes.core.k8s_info:
    api_version: operators.coreos.com/v1alpha1
    kind: CatalogSource
  register: catalogsource_list
  until: catalogsource_list is not failed

- name: Delete CatalogSources
  loop: "{{ catalogsource_list.resources }}"
  loop_control:
    label: "{{ item.metadata.name }}"
  kubernetes.core.k8s:
    definition:
      apiVersion: operators.coreos.com/v1alpha1
      kind: CatalogSource
      metadata:
        name: "{{ item.metadata.name }}"
        namespace: "{{ item.metadata.namespace }}"
    state: absent
    wait: true
    wait_timeout: 600

- name: Clear pull secret
  kubernetes.core.k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: pull-secret
        namespace: openshift-config
      data:
        .dockerconfigjson: '{{ ''{"auths":{}}'' | b64encode }}'
    state: present
  register: k8s_result
  until: k8s_result is not failed
