- name: Get kubeconfig
  ansible.builtin.include_tasks: kubeconfig.yaml

- name: Wait for NodePool to be ready
  kubernetes.core.k8s_info:
    api_version: hypershift.openshift.io/v1alpha1
    kind: NodePool
    name: "{{ metadata.name }}"
    namespace: "{{ metadata.name }}"
    wait: true
    wait_condition:
      type: Ready
      status: "True"
    wait_sleep: 60
    wait_timeout: 14400

- name: Update kubeconfig
  ansible.builtin.include_tasks: kubeconfig.yaml

- name: Set required environment vars
  ansible.builtin.set_fact:
    kubeconfig_env_vars:
      KUBECONFIG: "{{ kubeconfig_file.dest }}"

- name: Run tasks on edge cluster
  environment: "{{ kubeconfig_env_vars }}"
  block:
    - name: Apply post-install manifests and scripts
      ansible.builtin.include_tasks: post_install.yaml

    - name: Setup MetalLB for Ingress LB
      ansible.builtin.include_tasks: metallb.yaml
      vars:
        api_lb: false
        ingress_lb: true

    - name: Install Storage and Registry
      when: (edgeCluster.odfStorage is defined) and (edgeCluster.odfStorage.enabled)
      block:
        - name: Install ODF # noqa role-name[path]
          ansible.builtin.include_role:
            name: "{{ playbook_dir }}/../common/roles/storage"
          vars:
            catalog_source: "{{ edgeCluster.odfStorage.catalogSource | default('redhat-operators') }}"

        - name: Install Image Registry
          when: (edgeCluster.odfStorage.imageRegistry is defined) and (edgeCluster.odfStorage.imageRegistry)
          ansible.builtin.include_tasks: registry.yaml
