- name: Get kubeconfig ref
  kubernetes.core.k8s_info:
    api_version: extensions.hive.openshift.io/v1beta1
    kind: AgentClusterInstall
    name: "{{ metadata.name }}"
    namespace: "{{ metadata.name }}"
  register: aci
  until: aci.resources[0].spec.clusterMetadata.adminKubeconfigSecretRef.name is defined
  retries: 30
  delay: 60

- name: Get kubeconfig
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: "{{ aci.resources[0].spec.clusterMetadata.adminKubeconfigSecretRef.name }}"
    namespace: "{{ metadata.name }}"
  register: kubeconfig
  until: kubeconfig is not failed

- name: Check if kubeconfig dir exists
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/kubeconfigs"
  register: stat_result

- name: Create kubeconfig dir
  when: not stat_result.stat.exists
  ansible.builtin.file:
    path: "{{ playbook_dir }}/kubeconfigs"
    state: directory
    mode: "0755"
  register: kubeconfig_dir

- name: Copy kubeconfig to file
  ansible.builtin.copy:
    content: "{{ kubeconfig.resources[0].data.kubeconfig | b64decode }}"
    dest: "{{ (playbook_dir, 'kubeconfigs', aci.resources[0].spec.clusterMetadata.adminKubeconfigSecretRef.name) | path_join }}"
    mode: "0600"
  register: kubeconfig_file
