- name: Post install tasks
  block:
    - name: Get kubeconfig
      # grab the kubeconfig early in order to assist in troubleshooting
      ansible.builtin.include_tasks: kubeconfig.yaml

    - name: Wait for install to complete
      kubernetes.core.k8s_info:
        api_version: extensions.hive.openshift.io/v1beta1
        kind: AgentClusterInstall
        name: "{{ metadata.name }}"
        namespace: "{{ metadata.name }}"
        wait: true
        wait_condition:
          type: Completed
          status: "True"
        wait_timeout: 600
      register: k8s_result
      until: k8s_result is not failed
      retries: 20

    - name: Update kubeconfig
      # during the install, the kubeconfig is modified to included additional CAs, here we update the kubeconfig to include those
      ansible.builtin.include_tasks: kubeconfig.yaml

    - name: Set required environment vars
      ansible.builtin.set_fact:
        kubeconfig_env_vars:
          KUBECONFIG: "{{ kubeconfig_file.dest }}"

    # in a multi-node relocatable cluster, the API needs to be exposed using MetalLB
    # before MetalLB is installed, we access the cluster by connecting directly to a control plane node
    - name: Set up access to relocatable cluster
      when:
        - controlPlane.replicas == 3
        - edgeCluster.relocatable is defined
      block:
        - name: Set fact for multinode relocatable cluster
          ansible.builtin.set_fact:
            access_control_node: true

        - name: Get BareMetalHosts
          kubernetes.core.k8s_info:
            api_version: metal3.io/v1alpha1
            kind: BareMetalHost
            namespace: "{{ metadata.name }}"
          register: bmh_list
          until: bmh_list is not failed

        - name: Find control plane node
          loop: "{{ bmh_list.resources }}"
          loop_control:
            label: "{{ item.metadata.name }}"
          when: item.metadata.annotations['bmac.agent-install.openshift.io/role'] == "master"
          ansible.builtin.set_fact:
            control_plane_node: "{{ item }}"

        - name: Find IPv4 for first control plane node
          loop: "{{ control_plane_node.status.hardware.nics }}"
          loop_control:
            label: "{{ item.ip | default(item.name) }}"
          when:
            - item.ip is defined
            - item.ip | ansible.utils.ipv4
            - not (relocatable_ipv4_subnet | ansible.utils.network_in_usable(item.ip))
          ansible.builtin.set_fact:
            node_ip: "{{ item.ip }}"

        - name: Find IPv6 for first control plane node
          loop: "{{ control_plane_node.status.hardware.nics }}"
          loop_control:
            label: "{{ item.ip | default(item.name) }}"
          when:
            - node_ip is not defined
            - item.ip is defined
            - item.ip | ansible.utils.ipv6
            - not (relocatable_ipv6_subnet | ansible.utils.network_in_usable(item.ip))
          ansible.builtin.set_fact:
            node_ip: "{{ item.ip }}"

        - name: Add required environment vars
          ansible.builtin.set_fact:
            kubeconfig_env_vars: "{{ kubeconfig_env_vars | combine({'K8S_AUTH_HOST': 'https://' + node_ip + ':6443', 'K8S_AUTH_VERIFY_SSL': 'false'}) }}"

    - name: Run tasks on edge cluster
      environment: "{{ kubeconfig_env_vars }}"
      block:
        - name: Setup MetalLB for relocatable cluster
          when: access_control_node
          ansible.builtin.include_tasks: metallb.yaml

        - name: Install Storage # noqa role-name[path]
          when:
            - edgeCluster.odfStorage is defined
            - edgeCluster.odfStorage.enabled
          ansible.builtin.include_role:
            name: "{{ playbook_dir }}/../common/roles/storage"
          vars:
            catalog_source: "{{ edgeCluster.odfStorage.catalogSource | default('redhat-operators') }}"

        - name: Install operators
          when: edgeCluster.operators is defined
          block:
            - name: Install operator # noqa role-name[path]
              loop: "{{ edgeCluster.operators }}"
              loop_control:
                label: "{{ item.name }}"
              ansible.builtin.include_role:
                name: "{{ playbook_dir }}/../common/roles/install_operator"
              vars:
                operator_name: "{{ item.name }}"
                operator_namespace: "{{ item.namespace }}"
                all_namespaces: "{{ item.allNamespaces | default(false) }}"
                cluster_monitoring: "{{ item.clusterMonitoring | default(false) }}"
                catalog_source: "{{ item.catalogSource | default('redhat-operators') }}"
                channel: "{{ item.channel | default(omit) }}"
                install_plan_approval: "{{ item.installPlanApproval | default('Automatic') }}"

        - name: Auto approve CSRs
          when:
            - edgeCluster.autoApproveCSRs is defined
            - edgeCluster.autoApproveCSRs
          ansible.builtin.include_role:
            name: "edge_csr_approver"

        - name: Run post-install scripts
          when: edgeCluster.postInstallScriptsFolder is defined
          loop: "{{ lookup('ansible.builtin.fileglob', lookup('ansible.builtin.vars', 'post_install_scripts_folder') + '/*', wantlist=True) | sort }}"
          loop_control:
            label: "{{ item }}"
          ansible.builtin.include_tasks: post_scripts.yaml
          vars:
            # this var is copied in like this because ansible.builtin.vars doesn't support dicts
            post_install_scripts_folder: "{{ edgeCluster.postInstallScriptsFolder }}"

        - name: Clear Registry Config
          when:
            - edgeCluster.clearRegistryConfig is defined
            - edgeCluster.clearRegistryConfig
          ansible.builtin.include_tasks: clear_registry_config.yaml
  always:
    - name: Remove Edge Cluster Namespace
      when: ((edgeCluster.keepNamespace is defined) and (not edgeCluster.keepNamespace)) or (edgeCluster.keepNamespace is not defined)
      block:
        - name: Delete BareMetalHosts
          loop: "{{ platform.baremetal.hosts }}"
          loop_control:
            label: "{{ item.name }}"
          kubernetes.core.k8s:
            definition:
              apiVersion: metal3.io/v1alpha1
              kind: BareMetalHost
              metadata:
                name: "{{ item.name }}"
                namespace: "{{ metadata.name }}"
            state: absent
            wait: true
            wait_timeout: 600

        - name: Delete Namespace
          kubernetes.core.k8s:
            definition:
              apiVersion: v1
              kind: Namespace
              metadata:
                name: "{{ metadata.name }}"
            state: absent
            wait: true
            wait_timeout: 600
