apiVersion: v1
kind: Config
clusters:
  - name: "{{ metadata.name }}"
    cluster:
      certificate-authority-data: "{{ csr_secret.resources[0].data['ca.crt'] }}"
      server: "https://localhost:6443"
contexts:
  - name: default-context
    context:
      cluster: "{{ metadata.name }}"
      user: csr-approver
current-context: default-context
users:
  - name: csr-approver
    user:
      token: "{{ csr_secret.resources[0].data.token | b64decode }}"
