apiVersion: v1
kind: Config
clusters:
  - name: "{{ metadata.name }}"
    cluster:
      certificate-authority-data: "{{ csr_secret.result.data['ca.crt'] | b64decode }}"
      server: "{{ api_status.connection.host }}"
contexts:
  - name: default-context
    context:
      cluster: "{{ metadata.name }}"
      user: ztpfw-csr-approver
current-context: default-context
users:
  - name: ztpfw-csr-approver
    user:
      token: "{{ csr_secret.result.data.token | b64decode }}"
