# this role is used to configure the provisioning cluster so that the SSL cert for the mirror registry is trusted
# this is required because the provisioning cluster performs some validation against the mirror registry during a edge cluster installation
- name: Get current image registry config
  when: mirror_ssl_cert is defined
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: Image
    name: cluster
  register: image_config
  until: image_config is not failed

- name: Create additionalTrustedCA
  when: (mirror_ssl_cert is defined) and (image_config.resources[0].spec.additionalTrustedCA is not defined)
  block:
    - name: Create mirror registry config map for provisioning cluster
      kubernetes.core.k8s:
        template: provisioning-mirror-cert.yaml.j2
        apply: true
        state: present
      register: k8s_result
      until: k8s_result is not failed

    - name: Set additionalTrustedCA on provisioning cluster
      kubernetes.core.k8s:
        definition:
          apiVersion: config.openshift.io/v1
          kind: Image
          metadata:
            name: cluster
          spec:
            additionalTrustedCA:
              name: mirror-registry-cert
        state: present
      register: k8s_result
      until: k8s_result is not failed

- name: Add SSL cert to additionalTrustedCA
  when: (mirror_ssl_cert is defined) and (image_config.resources[0].spec.additionalTrustedCA is defined)
  block:
    - name: Get current config map
      kubernetes.core.k8s_info:
        api_version: v1
        kind: ConfigMap
        name: "{{ image_config.resources[0].spec.additionalTrustedCA.name }}"
        namespace: openshift-config
      register: image_config_map
      until: image_config_map is not failed

    - name: Update config map
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: "{{ image_config.resources[0].spec.additionalTrustedCA.name }}"
            namespace: openshift-config
          data: "{{ image_config_map.resources[0].data | combine({mirror_url + '..' + (mirror_port | string): mirror_ssl_cert}) }}"
        state: present
      register: k8s_result
      until: k8s_result is not failed
