apiVersion: v1
kind: ConfigMap
metadata:
  name: mirror-registry-config-map
  namespace: multicluster-engine
data:
{% if mirror_ssl_cert is defined %}
  ca-bundle.crt: |
    {{ mirror_ssl_cert | indent(4) }}
{% endif %}
  registries.conf: |
    unqualified-search-registries = ["registry.access.redhat.com", "docker.io"]

    [[registry]]
       prefix = ""
       location = "quay.io/openshift-release-dev/ocp-v4.0-art-dev"
       mirror-by-digest-only = true

       [[registry.mirror]]
       location = "{{ mirror_hostname }}{% if mirror_port != 443 %}:{{ mirror_port }}{% endif %}{% if mirror_subpath is defined %}/{{ mirror_subpath }}{% endif %}/openshift-release-dev/ocp-v4.0-art-dev"

    [[registry]]
       prefix = ""
       location = "quay.io/openshift-release-dev/ocp-release"
       mirror-by-digest-only = true

       [[registry.mirror]]
       location = "{{ mirror_hostname }}{% if mirror_port != 443 %}:{{ mirror_port }}{% endif %}{% if mirror_subpath is defined %}/{{ mirror_subpath }}{% endif %}/openshift-release-dev/ocp-release"

    [[registry]]
       prefix = ""
       location = "registry.redhat.io/multicluster-engine"
       mirror-by-digest-only = true

       [[registry.mirror]]
       location = "{{ mirror_hostname }}{% if mirror_port != 443 %}:{{ mirror_port }}{% endif %}{% if mirror_subpath is defined %}/{{ mirror_subpath }}{% endif %}/multicluster-engine"

    [[registry]]
       prefix = ""
       location = "registry.redhat.io/redhat"
       mirror-by-digest-only = true

       [[registry.mirror]]
       location = "{{ mirror_hostname }}{% if mirror_port != 443 %}:{{ mirror_port }}{% endif %}{% if mirror_subpath is defined %}/{{ mirror_subpath }}{% endif %}/redhat"

    [[registry]]
       prefix = ""
       location = "registry.redhat.io/rhel8"
       mirror-by-digest-only = true

       [[registry.mirror]]
       location = "{{ mirror_hostname }}{% if mirror_port != 443 %}:{{ mirror_port }}{% endif %}{% if mirror_subpath is defined %}/{{ mirror_subpath }}{% endif %}/rhel8"
