apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ pool_type }}-address-pool
  namespace: metallb-system
spec:
  addresses:
{% for address in addresses %}
    - "{{ address }}/{{ (address | ansible.utils.ipv4) | ternary('32', '128') }}"
{% endfor %}
  autoAssign: false
