apiVersion: v1
kind: ConfigMap
metadata:
  name: "agent-config-map"
  namespace: "{{ metadata.name }}"
data:
  disable_samples.yaml: |
    apiVersion: samples.operator.openshift.io/v1
    kind: Config
    metadata:
      name: cluster
    spec:
      architectures:
        - x86_64
      managementState: Removed
{% if controlPlane.replicas == 1 %}
  disable_sno_network_diag.yaml: |
    apiVersion: operator.openshift.io/v1
    kind: Network
    metadata:
      name: cluster
    spec:
      disableNetworkDiagnostics: true
{% endif %}
