apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: "{{ metadata.name }}"
  namespace: "{{ metadata.name }}"
spec:
  clusterRef:
    name: "{{ metadata.name }}"
    namespace: "{{ metadata.name }}"
  sshAuthorizedKey: "{{ sshKey }}"
  agentLabelSelector:
    matchLabels:
      cluster-name: "{{ metadata.name }}"
  pullSecretRef:
    name: assisted-deployment-pull-secret
  nmStateConfigLabelSelector:
    matchLabels:
      nmstate-cluster: "{{ metadata.name }}"
{% if edgeCluster.additionalNTPSources is defined %}
  additionalNTPSources:
    {{ edgeCluster.additionalNTPSources | to_nice_yaml | trim | indent(4) }}
{% endif %}
{% if proxy is defined %}
  proxy:
    {{ proxy | to_nice_yaml | trim | indent(4) }}
{% endif %}
