- name: Gather storage class info
  kubernetes.core.k8s_info:
    api_version: storage.k8s.io/v1
    kind: StorageClass
  register: storage_classes

# the assisted service requires storage
- name: Check for default storage class
  ansible.builtin.set_fact:
    has_default_storage: "{{ item['metadata']['name'] }}"
  loop: "{{ storage_classes.resources }}"
  when: >
    (("annotations" in item["metadata"]) and
    ("storageclass.kubernetes.io/is-default-class" in item["metadata"]["annotations"]) and
    (item["metadata"]["annotations"]["storageclass.kubernetes.io/is-default-class"] == "true"))

- name: Check for suitable default storage
  loop: "{{ storage_classes.resources }}"
  ansible.builtin.include_tasks: set_storage.yaml

- name: Install storage provider
  when: has_default_storage is not defined
  block:
    - name: Get node list
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Node
      register: nodes

    - name: Install LSO operator
      ansible.builtin.include_role:
        name: install_operator
      vars:
        operator_name: local-storage-operator
        operator_namespace: openshift-local-storage

    - name: Label nodes
      loop: "{{ nodes.resources }}"
      kubernetes.core.k8s:
        definition:
          api_version: v1
          kind: Node
          metadata:
            name: "{{ item.metadata.name }}"
            labels:
              cluster.ocs.openshift.io/openshift-storage: ""
        state: present

    - name: Discover local volumes
      kubernetes.core.k8s:
        definition:
          apiVersion: local.storage.openshift.io/v1alpha1
          kind: LocalVolumeDiscovery
          metadata:
            name: auto-discover-devices
            namespace: openshift-local-storage
          spec:
            nodeSelector:
              nodeSelectorTerms:
                - matchExpressions:
                    - key: cluster.ocs.openshift.io/openshift-storage
                      operator: In
                      values:
                        - ""
        state: present
        wait: true
        wait_condition:
          type: Available
          status: "True"
        wait_timeout: 1200

    - name: Clean Volume Groups
      ansible.builtin.shell: |
        oc debug node/{{ item.metadata.name }} -- chroot /host /bin/bash -c "for vg in \$(vgs -o name --noheadings) ; do vgremove -y \$vg ; done || true"
      loop: "{{ nodes.resources }}"
      register: command_result
      changed_when: '"successfully removed" in command_result.stdout'

    - name: Clean Physical Volumes
      ansible.builtin.shell: |
        oc debug node/{{ item.metadata.name }} -- chroot /host /bin/bash -c "for pv in \$(pvs -o name --noheadings) ; do pvremove -y \$pv ; done || true"
      loop: "{{ nodes.resources }}"
      register: command_result
      changed_when: '"successfully wiped" in command_result.stdout'

    - name: Get control plane list
      kubernetes.core.k8s_info:
        api_version: v1
        kind: Node
        label_selectors:
          - "node-role.kubernetes.io/master"
      register: control_nodes

    - name: Install ODF
      when: control_nodes.resources | length | int == 3
      ansible.builtin.include_tasks:
        file: storage_odf.yaml

    - name: Install ODF LVM
      when: control_nodes.resources | length | int == 1
      ansible.builtin.include_tasks:
        file: storage_lvm.yaml
  rescue:
    - name: Remove StorageCluster
      kubernetes.core.k8s:
        definition:
          apiVersion: ocs.openshift.io/v1
          kind: StorageCluster
          metadata:
            name: ocs-storagecluster
            namespace: openshift-storage
        state: absent
        wait: true
        wait_timeout: 1200
      ignore_errors: true # noqa ignore-errors

    - name: Remove ODF LVMCluster
      kubernetes.core.k8s:
        definition:
          apiVersion: lvm.topolvm.io/v1alpha1
          kind: LVMCluster
          metadata:
            name: odf-lvmcluster
            namespace: openshift-storage
        state: absent
        wait: true
        wait_timeout: 1200
      ignore_errors: true # noqa ignore-errors

    - name: Remove LocalVolumeSet
      kubernetes.core.k8s:
        definition:
          apiVersion: local.storage.openshift.io/v1alpha1
          kind: LocalVolumeSet
          metadata:
            name: local-storage
            namespace: openshift-local-storage
        state: absent
        wait: true
        wait_timeout: 1200
      ignore_errors: true # noqa ignore-errors

    - name: Remove ODF namespace
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: openshift-storage
        state: absent
        wait: true
        wait_timeout: 1200

    - name: Remove LSO namespace
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: openshift-local-storage
        state: absent
        wait: true
        wait_timeout: 1200

    - name: Remove StorageClasses
      loop:
        - "odf-lvm-vg1"
        - "ocs-storagecluster-ceph-rgw"
        - "ocs-storagecluster-cephfs"
        - "local-storage"
      kubernetes.core.k8s:
        definition:
          apiVersion: storage.k8s.io/v1
          kind: StorageClass
          metadata:
            name: "{{ item }}"
        state: absent
        wait: true
        wait_timeout: 1200
