apiVersion: v1
kind: Namespace
metadata:
  name: "{{ operator_namespace }}"
  annotations:
    workload.openshift.io/allowed: management # needed if this is being applied on a SNO server with workload partitioning
{% if cluster_monitoring %}
  labels:
    openshift.io/cluster-monitoring: "true"
{% endif %}
  labels: #added for ocp 4.12+ for the stricter scc 
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/warn: privileged

