apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ operator_name }}"
  namespace: "{{ operator_namespace }}"
spec:
  installPlanApproval: "{{ install_plan_approval | default('Automatic') }}"
  name: "{{ operator_name }}"
  source: "{{ catalog_source | default('redhat-operators') }}"
  sourceNamespace: openshift-marketplace
{% if channel is defined %}
  channel: "{{ channel }}"
{% endif %}
