- name: Setup workload partitioning
  when: controlPlane.replicas == 1
  block:
    - name: Create config files for workload partitioning
      ansible.builtin.set_fact:
        workload_partitioning: |
          [crio.runtime.workloads.management]
          activation_annotation = "target.workload.openshift.io/management"
          annotation_prefix = "resources.workload.openshift.io"
          [crio.runtime.workloads.management.resources]
          cpushares = 0
          CPUs = "{{ item.value.cpu.reserved }}"
        openshift_workload_pinning: |
          {
            "management": {
              "cpuset": "{{ item.value.cpu.reserved }}"
            }
          }

    - name: Create workload partitioning config map
      kubernetes.core.k8s:
        template: WorkloadPartitioning.yaml.j2
        apply: true
        state: present

- name: Create performance profile config map
  kubernetes.core.k8s:
    template: PerformanceProfile.yaml.j2
    apply: true
    state: present
