apiVersion: v1
kind: ConfigMap
metadata:
  name: "agent-config-map"
  namespace: "{{ metadata.name }}"
data:
  disable_samples.yaml: |
    apiVersion: samples.operator.openshift.io/v1
    kind: Config
    metadata:
      name: cluster
    spec:
      architectures:
        - x86_64
      managementState: Removed
{% if controlPlane.replicas == 1 %}
  disable_sno_network_diag.yaml: |
    apiVersion: operator.openshift.io/v1
    kind: Network
    metadata:
      name: cluster
    spec:
      disableNetworkDiagnostics: true
{% if edgeCluster.relocatable is defined %}
  set_node_ip_hint.yaml: |
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: master
      name: 10-masters-node-ip-hint
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
            - contents:
                source: data:text/plain;charset=utf-8;base64,{{ "KUBELET_NODEIP_HINT=192.168.7.0" | b64encode }}
              mode: 0644
              overwrite: true
              path: /etc/default/nodeip-configuration
              user:
                name: root
{% endif %}
{% endif %}
