apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: "{{ metadata.name }}"
  namespace: "{{ metadata.name }}"
{% if install_overrides %}
  annotations:
    agent-install.openshift.io/install-config-overrides: '{{ install_overrides | to_json }}'
{% endif %}
spec:
  clusterDeploymentRef:
    name: "{{ metadata.name }}"
  imageSetRef:
    name: "{{ metadata.name }}"
  manifestsConfigMapRefs:
{% if edgeCluster.relocatable is defined %}
    - name: "relocatable-config"
{% endif %}
{% if edgeCluster.installManifestsFolder is defined %}
{% for file in lookup('ansible.builtin.fileglob', edgeCluster.installManifestsFolder + '/*', wantlist=True) %}
    - name: "manifest-{{ loop.index0 }}"
{% endfor %}
{% endif %}
{% if edgeCluster.reservedCpuSet is defined %}
    - name: "workload-partitioning"
{% endif %}
    - name: "crio-wipe"
    - name: "routing-via-host"
    - name: "du-profile"
{% if controlPlane.replicas == 3 %}
{% if edgeCluster.relocatable is defined %}
{% if cluster_ipv4 %}
  apiVIP: "{{ relocatable_ipv4_subnet | ansible.utils.nthhost(2) }}"
  ingressVIP: "{{ relocatable_ipv4_subnet | ansible.utils.nthhost(3) }}"
{% else %}
  apiVIP: "{{ relocatable_ipv6_subnet | ansible.utils.nthhost(2) }}"
  ingressVIP: "{{ relocatable_ipv6_subnet | ansible.utils.nthhost(3) }}"
{% endif %}
{% else %}
{% if platform.baremetal.apiVIPs is defined %}
  apiVIP: "{{ platform.baremetal.apiVIPs[0] }}"
  apiVIPs:
    {{ platform.baremetal.apiVIPs | to_nice_yaml(indent=2) | trim | indent(4) }}
{% else %}
  apiVIP: "{{ platform.baremetal.apiVIP }}"
{% endif %}
{% if platform.baremetal.ingressVIPs is defined %}
  ingressVIP: "{{ platform.baremetal.ingressVIPs[0] }}"
  ingressVIPs:
    {{ platform.baremetal.ingressVIPs | to_nice_yaml(indent=2) | trim | indent(4) }}
{% else %}
  ingressVIP: "{{ platform.baremetal.ingressVIP }}"
{% endif %}
{% endif %}
{% endif %}
  networking:
{% if relocatable_networking is defined %}
    {{ relocatable_networking | to_nice_yaml(indent=2) | trim | indent(4) }}
{% else %}
    {{ networking | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if controlPlane.replicas == 1 %}
    userManagedNetworking: true
{% else %}
    userManagedNetworking: false
{% endif %}
  provisionRequirements:
    controlPlaneAgents: {{ controlPlane.replicas }}
{% if worker_count | int > 0 %}
    workerAgents: {{ worker_count }}
{% endif %}
  sshPublicKey: "{{ sshKey }}"
{% if proxy is defined %}
  proxy:
    {{ proxy | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if edgeCluster.diskEncryption is defined %}
  diskEncryption:
    {{ edgeCluster.diskEncryption | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
