apiVersion: extensions.hive.openshift.io/v1beta1
kind: AgentClusterInstall
metadata:
  name: "{{ metadata.name }}"
  namespace: "{{ metadata.name }}"
{% if fips is defined and fips %}
  annotations:
    agent-install.openshift.io/install-config-overrides: '{"fips": true}'
{% endif %}
spec:
  clusterDeploymentRef:
    name: "{{ metadata.name }}"
  imageSetRef:
    name: "{{ metadata.name }}"
  manifestsConfigMapRefs:
    - name: "agent-config-map"
{% if edgeCluster.installManifestsFolder is defined %}
{% for file in lookup('ansible.builtin.fileglob', lookup('ansible.builtin.vars', 'install_manifests_folder') + '/*', wantlist=True) %}
    - name: "manifest-{{ loop.index0 }}"
{% endfor %}
{% endif %}
{% if edgeCluster.performanceProfileSpec is defined %}
{% for item in edgeCluster.performanceProfileSpec | dict2items %}
{% if controlPlane.replicas == 1 %}
    - name: "workload-partitioning-{{ item.key }}"
{% endif %}
    - name: "performance-profile-{{ item.key }}"
{% endfor %}
{% endif %}
{% if platform.baremetal.apiVIP is defined %}
  apiVIP: "{{ platform.baremetal.apiVIP }}"
{% endif %}
{% if platform.baremetal.ingressVIP is defined %}
  ingressVIP: "{{ platform.baremetal.ingressVIP }}"
{% endif %}
  networking:
{% if relocatableNetworking is defined%}
    {{ relocatableNetworking | to_nice_yaml(indent=2) | trim | indent(4) }}
{% else %}
    {{ networking | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if controlPlane.replicas == 1 %}
    userManagedNetworking: true
{% else %}
    userManagedNetworking: false
{% endif %}
  provisionRequirements:
    controlPlaneAgents: {{ controlPlane.replicas }}
{% if worker_count | int > 0 %}
    workerAgents: {{ worker_count }}
{% endif %}
  sshPublicKey: "{{ sshKey }}"
{% if proxy is defined %}
  proxy:
    {{ proxy | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if edgeCluster.diskEncryption is defined %}
  diskEncryption:
    {{ edgeCluster.diskEncryption | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
