apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  name: "{{ item.name }}"
  namespace: "{{ metadata.name }}"
  annotations:
    bmac.agent-install.openshift.io/role: "{{ item.role }}"
    bmac.agent-install.openshift.io/hostname: "{{ item.name }}"
  labels:
    infraenvs.agent-install.openshift.io: "{{ metadata.name }}"
spec:
  bootMode: "{{ item.bootMode | default('UEFI') }}"
  bmc:
    address: "{{ item.bmc.address }}"
    disableCertificateVerification: true
    credentialsName: "{{ item.name }}-bmc-secret"
  bootMACAddress: "{{ item.bootMACAddress }}"
  online: true
{% if item.rootDeviceHints is defined %}
  rootDeviceHints:
    {{ item.rootDeviceHints | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if item.raid is defined %}
  raid:
    {{ item.raid | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if item.firmware is defined %}
  firmware:
    {{ item.firmware | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
