apiVersion: agent-install.openshift.io/v1beta1
kind: InfraEnv
metadata:
  name: "{{ metadata.name }}"
  namespace: "{{ metadata.name }}"
spec:
{% if not hypershift %}
  clusterRef:
    name: "{{ metadata.name }}"
    namespace: "{{ metadata.name }}"
{% endif %}
  sshAuthorizedKey: "{{ sshKey }}"
  agentLabelSelector:
    matchLabels:
      cluster-name: "{{ metadata.name }}"
  pullSecretRef:
    name: assisted-deployment-pull-secret
  nmStateConfigLabelSelector:
    matchLabels:
      nmstate-cluster: "{{ metadata.name }}"
{% if edgeCluster.additionalNTPSources is defined %}
  additionalNTPSources:
    {{ edgeCluster.additionalNTPSources | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if proxy is defined %}
  proxy:
    {{ proxy | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
{% if edgeCluster.relocatable is defined %}
  ignitionConfigOverride: '{{ (lookup('ansible.builtin.template', 'RelocatableConfig.yaml.j2') | from_yaml | to_json) }}'
{% endif %}
