apiVersion: agent-install.openshift.io/v1beta1
kind: NMStateConfig
metadata:
  name: "{{ nmstate_host.name }}"
  namespace: "{{ metadata.name }}"
  labels:
    nmstate-cluster: "{{ metadata.name }}"
spec:
  config:
{% if edgeCluster.relocatable is defined %}
    {{ relocatable_networkConfig | to_nice_yaml(indent=2) | trim | indent(4) }}
{% else %}
    {{ nmstate_host.networkConfig | to_nice_yaml(indent=2) | trim | indent(4) }}
{% endif %}
  interfaces:
{% for interface in nmstate_host.networkConfig.interfaces %}
{% if interface.type == "ethernet" %}
    - name: "{{ interface.name }}"
      macAddress: "{{ interface['mac-address'] }}"
{% endif %}
{% endfor %}
