apiVersion: v1
kind: ConfigMap
metadata:
  name: "performance-profile-{{ item.key }}"
  namespace: "{{ metadata.name }}"
data:
  02_performance_profile_{{ item.key }}.yaml:
    {{ lookup('ansible.builtin.template', 'PerformanceProfile.yaml.j2') | to_nice_yaml(indent=2) | trim | indent(4) }}
