ignition:
  version: 3.2.0
storage:
  files:
    - contents:
        source: data:text/plain;charset=utf-8;base64,{{ lookup('ansible.builtin.template', 'relocatable_ip.sh.j2', template_vars={'first_run': first_run}) | b64encode }}
      mode: 0700
      overwrite: true
      path: /var/local/relocatable/relocatable_ip.sh
      user:
        name: root
{% if first_run %}
    - append:
{% if cluster_ipv4 is defined %}
        - source: data:text/plain;charset=utf-8;base64,{{ ("192.168.7.2 api-int." + metadata.name + "." + baseDomain + " api." + metadata.name + "." + baseDomain) | b64encode }}
{% else %}
        - source: data:text/plain;charset=utf-8;base64,{{ ("fd04::2 api-int." + metadata.name + "." + baseDomain + " api." + metadata.name + "." + baseDomain) | b64encode }}
{% endif %}
      path: /etc/hosts
{% endif %}
systemd:
  units:
    - contents: |
        [Unit]
        Description=Add relocatable IP
        After=network.target ovs-configuration.service
        Before=network-online.target

        [Service]
        User=root
        Type=oneshot
        ExecStart=/bin/bash -c /var/local/relocatable/relocatable_ip.sh

        [Install]
        WantedBy=network-online.target
      enabled: true
      name: relocatable-ip.service
