apiVersion: v1
kind: ConfigMap
metadata:
  name: "routing-via-host"
  namespace: "{{ metadata.name }}"
data:
{% if (edgeCluster.routingViaHost is defined and edgeCluster.routingViaHost) or
      (edgeCluster.relocatable is defined and cluster_deployment.resources[0].status.installVersion is ansible.builtin.version("4.13.0", "lt")) %}
  routing_via_host.yaml: |
    apiVersion: operator.openshift.io/v1
    kind: Network
    metadata:
      name: cluster
    spec:
      defaultNetwork:
        ovnKubernetesConfig:
          gatewayConfig:
            routingViaHost: true
{% endif %}
