name: relocatable
type: vlan
state: up
vlan:
  base-iface: {{ nmstate_host.networkConfig.interfaces[relocatable_interface].name }}
  id: 0
ipv4:
{% if (nmstate_host.networkConfig.interfaces[relocatable_interface].ipv4 is defined) and (nmstate_host.networkConfig.interfaces[relocatable_interface].ipv4.enabled) %}
  enabled: true
  address:
    - ip: "192.168.7.{{ (idx + 4) | int }}"
      prefix-length: 24
  dhcp: false
{% else %}
  enabled: false
{% endif %}
ipv6:
{% if (nmstate_host.networkConfig.interfaces[relocatable_interface].ipv6 is defined) and (nmstate_host.networkConfig.interfaces[relocatable_interface].ipv6.enabled) %}
  enabled: true
  address:
    - ip: "fd04::{{ (idx + 4) | int }}"
      prefix-length: 64
  dhcp: false
{% else %}
  enabled: false
{% endif %}
