apiVersion: v1
kind: ConfigMap
metadata:
  name: "workload-partitioning"
  namespace: "{{ metadata.name }}"
data:
{% if not hypershift %}
  01_workload_partitioning.yaml: |
{% else %}
  config: |
{% endif %}
    apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: "{{ 'master' if (worker_count | int) == 0 else 'worker' }}"
      name: 02-workload-partitioning
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
            - contents:
                source: data:text/plain;charset=utf-8;base64,{{ workload_partitioning | b64encode }}
              mode: 420
              overwrite: true
              path: /etc/crio/crio.conf.d/01-workload-partitioning
              user:
                name: root
            - contents:
                source: data:text/plain;charset=utf-8;base64,{{ openshift_workload_pinning | to_nice_json | b64encode }}
              mode: 420
              overwrite: true
              path: /etc/kubernetes/openshift-workload-pinning
              user:
                name: root
