os_images: # Optional, you can specify a location for MCE to get OS ISOs from
  # they do not need to match exactly the version of OpenShift you are installing on the edge clusters, they are just used to bootstrap the nodes
  - openshiftVersion: "4.11"
    version: "4.11.9"
    url: "https://<local_http_mirror>/rhcos-4.11.9-x86_64-live.x86_64.iso"
    cpuArchitecture: "x86_64"
  - openshiftVersion: "4.12"
    version: "4.12.0"
    url: "https://<local_http_mirror>/rhcos-4.12.0-x86_64-live.x86_64.iso"
    cpuArchitecture: "x86_64"

provisioning_network_config: # Optional, see https://docs.openshift.com/container-platform/latest/rest_api/provisioning_apis/provisioning-metal3-io-v1alpha1.html#spec
  # below is an example of a possible provisioning network configuration
  provisioningIP: 192.168.43.251
  provisioningInterface: ens1f0.1043
  provisioningNetwork: Unmanaged
  provisioningNetworkCIDR: 192.168.43.128/25

hypershift: # Optional, enables Hosted Control Planes on the cluster
  enabled: true
  gitops: false # Optional, installs the GitOps operator (ArgoCD), defaults to false

mirror_hostname: <mirror_hostname> # Optional
mirror_port: 8443 # Required if mirror_hostname is defined
mirror_ssl_cert: | # Required if mirror_hostname is defined
  -----BEGIN CERTIFICATE-----
  MIIDijCCAnKgAwIBAgIUA0gWHLy5W2y4xpNq39kUeKrmyogwDQYJKoZIhvcNAQEL
  BQAwgYUxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJWQTERMA8GA1UEBwwITmV3IFlv
  cmsxDTALBgNVBAoMBFF1YXkxETAPBgNVBAsMCERpdmlzaW9uMTQwMgYDVQQDDCts
  bWNuYXVnaC1pbmZyYS5jbG91ZC5sYWIuZW5nLmJvcy5yZWRoYXQuY29tMB4XDTIy
  MTAwOTE2MTYyMFoXDTIzMDkzMDE2MTYyMFowGjEYMBYGA1UEAwwPcXVheS1lbnRl
  cnByaXNlMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAp0dFTr4OQ0HX
  ayEdAKIdFsv4tkWamVV6V6aqAQ0ntAW7/7xmL//FIcPf6Xu0safc0ws7Uc6oBnCa
  9uMqMpb8hR8sdKcd36ntc55f18sVEulyjOxGLgKv63UZx/DT4Ze17s2N4SPxoe1b
  25ei+CS7s62Z8van64WBJpzRWmR+BLm6ePH13JV4ZviGvDVhErzrcou2EeKjEtN0
  i8kuBtdt11ABoWJCXhMNgQZH3aSaZcupwvjK5QVIT1vdcbTn3QuNPChim3TNOM+t
  NhB5Av6nV2RSg//1LvqXI9XgXNMzLCrzeZ5gFSz/N3wPDJfBKRG+Ghv1a3v+/VpH
  AQuLcOjxNQIDAQABo1wwWjALBgNVHQ8EBAMCAuQwEwYDVR0lBAwwCgYIKwYBBQUH
  AwEwNgYDVR0RBC8wLYIrbG1jbmF1Z2gtaW5mcmEuY2xvdWQubGFiLmVuZy5ib3Mu
  cmVkaGF0LmNvbTANBgkqhkiG9w0BAQsFAAOCAQEATO7rT3RdqoBnvxM84Dv/FSQU
  S8eOAmyCWKmcg/9d+UinBGTXqPifuuCe35K6RiW7hqtuK0W4AEwq01MorgBRkQpS
  rqjA6g0CZMIOU86AOz9fVm7rUCTpZQ0OWmnnWjRqMqK7JDxXdgKTOVANYzr/XC5X
  GZP/CHnot6iU8Y2c7ykDToMzORflNNU9BAL796LmB5GmLqAe+uuk553taBVbdI77
  vIInWEno6mpWoZwWb1kVnx0uZlguxCnrVn9QqGzCdk96csx9sUUNFZ+BsGpy7CXk
  r6KOIzVq6azVY2AIEeLIeDOT7bZxJM4Jg5Mw/NLGFvaEi88Klxn3lnp+5e8sSQ==
  -----END CERTIFICATE-----
  -----BEGIN CERTIFICATE-----
  MIIECjCCAvKgAwIBAgIUfQzZVaVgu4UQW8RjumWmav9DjvgwDQYJKoZIhvcNAQEL
  BQAwgYUxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJWQTERMA8GA1UEBwwITmV3IFlv
  cmsxDTALBgNVBAoMBFF1YXkxETAPBgNVBAsMCERpdmlzaW9uMTQwMgYDVQQDDCts
  bWNuYXVnaC1pbmZyYS5jbG91ZC5sYWIuZW5nLmJvcy5yZWRoYXQuY29tMB4XDTIy
  MTAwOTE2MTYxOFoXDTI1MDcyOTE2MTYxOFowgYUxCzAJBgNVBAYTAlVTMQswCQYD
  VQQIDAJWQTERMA8GA1UEBwwITmV3IFlvcmsxDTALBgNVBAoMBFF1YXkxETAPBgNV
  BAsMCERpdmlzaW9uMTQwMgYDVQQDDCtsbWNuYXVnaC1pbmZyYS5jbG91ZC5sYWIu
  ZW5nLmJvcy5yZWRoYXQuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
  AQEAqPQw1kKm7HqBBGGjQyH/B7g4Ii7wSLJQIqrdDr8dZU0Uu/C91ynWnvYRjC9K
  +evDxs+yL60o1fOBPGvYfudTqXy8hsY8NfN0TWyWqIQ6+IIvrEy10aGZ1A1VizOl
  bhWW8QrcgKy4em62NejKOkGU433d6R5CWFOek36WUc6nYKQWnZ+7SCcZvBtgujT8
  0lqefWJFh9ekGSqd4H3MSYhUkmwx2ZWwpDr8t37Aj0YXZIFrFyuAEHI+T/W07AVO
  KY7Mtz5eihCk0w3ZvfLD/4JP8aO83wfUXKa9ZF4YslG53pTMlH1+E53Rrgk1re9O
  fChBVK1uwzXcBRxDNaJY3bNo/QIDAQABo3AwbjALBgNVHQ8EBAMCAuQwEwYDVR0l
  BAwwCgYIKwYBBQUHAwEwNgYDVR0RBC8wLYIrbG1jbmF1Z2gtaW5mcmEuY2xvdWQu
  bGFiLmVuZy5ib3MucmVkaGF0LmNvbTASBgNVHRMBAf8ECDAGAQH/AgEBMA0GCSqG
  SIb3DQEBCwUAA4IBAQBz42sJuBtjmbTKp9nNhM46BG0iz2T/eum+kGvfpiYoE7xT
  5qx+gXMgo4Zgea+UiO/2xxowdCCtcUmmCTsR9Le+g0wwEJ30weyFiEqiQBza6gtn
  lz4jX8QXx5Ca9W7FNdBLmP3vSn+bgCIL8ZLg8HHl5YK9EAMWan4UTyQ6tB9y+PA7
  JhlSEDGya5h+gvDaEjtXxhNXnlcFz/BTzsnOeByLPzDWPoUNteQRdPzRClBk/mFM
  5Q0zSrUPNusDOL2WWJLkipe0aASMQJafWPvgUUos6XKYHuM9VRWNhJ40c4SVRHnu
  AN+7Qha77bULJ3f7yQbuVGTn7yVMW409Eub23ael
  -----END CERTIFICATE-----
