apiVersion: v1

# Additional parameters for openshift-edge-installer
edgeCluster:
  clusterImageSet: <mirror_hostname>:8443/openshift-release-dev/ocp-release:4.16.0-x86_64 # Required
  additionalNTPSources: # Optional
    - pool.ntp.org
  installManifestsFolder: install_manifests # Optional, see README.md
  postInstallScriptsFolder: post_scripts # Optional, see README.md
  keepNamespace: false # Optional, retains the edge cluster namespace on the provisioning cluster when the installation is complete, defaults to false
  autoApproveCSRs: false # Optional, see docs/CSR_APPROVER.md
  diskEncryption: # Optional
    enableOn: "none" # Possible values: none,all,masters,workers
    mode: "tpmv2"
  relocatable: # Optional, see docs/RELOCATABLE.md
    interface: <external_interface>
    ipv4Subnet: "192.168.7.0/24" # Optional, defaults to 192.168.7.0/24
    ipv6Subnet: "fd04::/64" # Optional, defaults to fd04::/64, only used for dual stack or IPv6 deployments
  clearInstallConfig: # Optional
    registry: false # Defaults to false. Deletes mirror configuration and registry pull-secret at the end of the installation. Also disables the crio-wipe service
    ssh: false # Defaults to false. Deletes the authorized SSH key(s) for the 'core' user
  routingViaHost: false # Optional, see https://docs.redhat.com/en/documentation/openshift_container_platform/latest/html/operator_apis/network-operator-openshift-io-v1#spec-defaultnetwork-ovnkubernetesconfig-gatewayconfig
  odfStorage: # Optional
    # If you are using a mirror, you must configure a CatalogSource using installManifestsFolder
    # See the install_manifests_mirror_example folder for an example of how to do this
    enabled: true
    catalogSource: redhat-operators # Optional, defaults to redhat-operators
  duProfileManifests: # Optional
    # Applies install-time DU Profile manifests from https://github.com/openshift-kni/cnf-features-deploy/tree/master/ztp/source-crs/extra-manifest
    # Manifests will be included from the git branch related to your cluster version (for example, a 4.16.15 cluster will get manifests from the release-4.16 branch)
    # See here for more detail: https://docs.redhat.com/en/documentation/openshift_container_platform/latest/html/edge_computing/sno-configure-for-vdu#ztp-sno-install-time-cluster-config
    enabled: true
    exclude: # Optional, a list of manifests to exclude
      - 03-sctp-machine-config-worker.yaml
  operators: # Optional, a list of operators to install
    - name: my-operator
      namespace: my-namespace
      allNamespaces: false # Defaults to false
      clusterMonitoring: false # Defaults to false
      channel: stable # Can be omitted, will default to the default channel for the operator
      catalogSource: redhat-operators # Defaults to redhat-operators
      installPlanApproval: Automatic # Defaults to Automatic

baseDomain: <cluster_domain>
compute:
  - name: worker
    replicas: 2
controlPlane:
  name: master
  replicas: 3
metadata:
  name: <cluster_name>
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  baremetal:
    apiVIP: <api_address>
    ingressVIP: <ingress_address>
    hosts:
      - name: openshift-ctrl-0
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0" # See https://docs.redhat.com/en/documentation/openshift_container_platform/latest/html/provisioning_apis/baremetalhost-metal3-io-v1alpha1#spec-rootdevicehints
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              mac-address: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-ctrl-1
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              mac-address: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-ctrl-2
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              mac-address: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-worker-0
        role: worker
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              mac-address: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-worker-1
        role: worker
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "2:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              mac-address: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
pullSecret: '{"auths":{"<mirror_hostname>:8443":{"auth":"<base64 encoded auth>"}}}'
sshKey: |
  ssh-rsa ...
imageDigestSources:
  - mirrors:
      - <mirror_hostname>:8443/openshift-release-dev/ocp-v4.0-art-dev
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
      - <mirror_hostname>:8443/openshift-release-dev/ocp-release
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
      - <mirror_hostname>:8443/rhceph
    source: registry.redhat.io/rhceph
  - mirrors:
      - <mirror_hostname>:8443/openshift-gitops-1
    source: registry.redhat.io/openshift-gitops-1
  - mirrors:
      - <mirror_hostname>:8443/lvms4
    source: registry.redhat.io/lvms4
  - mirrors:
      - <mirror_hostname>:8443/odf4
    source: registry.redhat.io/odf4
  - mirrors:
      - <mirror_hostname>:8443/rhacm2
    source: registry.redhat.io/rhacm2
  - mirrors:
      - <mirror_hostname>:8443/rhel9
    source: registry.redhat.io/rhel9
  - mirrors:
      - <mirror_hostname>:8443/rhel8
    source: registry.redhat.io/rhel8
  - mirrors:
      - <mirror_hostname>:8443/openshift4
    source: registry.redhat.io/openshift4
  - mirrors:
      - <mirror_hostname>:8443/multicluster-engine
    source: registry.redhat.io/multicluster-engine
  - mirrors:
      - <mirror_hostname>:8443/rh-sso-7
    source: registry.redhat.io/rh-sso-7
