apiVersion: v1

# Additional parameters for openshift-edge-installer
edgeCluster:
  clusterImageSet: <mirror_url>:8443/openshift/release-images:4.12.0-x86_64 # Required
  additionalNTPSources: # Optional
    - pool.ntp.org
  installManifestsFolder: install_manifests # Optional, see README.md
  postInstallManifestsFolder: post_manifests # Optional, see README.md
  postInstallScriptsFolder: post_scripts # Optional, see README.md
  removeNamespace: false # Optional, deletes the edge cluster namespace on the provisioning cluster when the installation is complete
  autoApproveCSRs: false # Optional, see docs/CSR_APPROVER.md
  diskEncryption: # Optional
    enableOn: "none" # Possible values: none,all,masters,workers
    mode: "tpmv2"
  relocatable: # Optional, see docs/RELOCATABLE.md
    interface: <external_interface>
    ipv4_subnet: "192.168.7.0/24" # Optional, defaults to 192.168.7.0/24
    ipv6_subnet: "fd04::/64" # Optional, defaults to fd04::/64, only used for dual stack or IPv6 deployments
  routingViaHost: false # Optional, see https://docs.openshift.com/container-platform/latest/rest_api/operator_apis/network-operator-openshift-io-v1.html#spec-defaultnetwork-ovnkubernetesconfig-gatewayconfig
  odfStorage: # Optional
    # If you are using a mirror, you must configure a CatalogSource using postInstallManifestsFolder
    # See the post_manifests_mirror_example folder for an example of how to do this
    enabled: true
    catalogSource: redhat-operators # Optional, defaults to redhat-operators
    imageRegistry: false # Will deploy the integrated OCP registry if true, defaults to false
  performanceProfileSpec: # Optional
    # You can omit machineConfigPoolSelector and nodeSelector, they will be automatically added
    worker: # MachineConfigPool name, should be 'master' for compact cluster
      cpu:
        isolated: <isolated_set> # Example: "2-31,34-63"  there should be no spaces
        reserved: <reserved_set> # Example: "0-1,32-33"  there should be no spaces
      numa:
        topologyPolicy: "restricted"

baseDomain: <cluster_domain>
compute:
  - name: worker
    replicas: 2
controlPlane:
  name: master
  replicas: 3
metadata:
  name: <cluster_name>
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  baremetal:
    apiVIP: <api_address>
    ingressVIP: <ingress_address>
    hosts:
      - name: openshift-master-0
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0" # See https://docs.openshift.com/container-platform/latest/rest_api/provisioning_apis/baremetalhost-metal3-io-v1alpha1.html#spec-rootdevicehints
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-master-1
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-master-2
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-worker-0
        role: worker
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-worker-1
        role: worker
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "2:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
pullSecret: '{"auths":{"<mirror_url>:8443":{"auth":"aW5pdDpYaTA0eTk3TFdGR1E4M1ptMW82MnpwcmJrdzV0S2hITg=="}}}'
sshKey: |
  ssh-rsa ...
