apiVersion: v1

# Additional parameters for openshift-edge-installer
edgeCluster:
  clusterImageSet: <mirror_url>:8443/openshift/release-images:4.11.6-x86_64 # Required
  additionalNTPSources: # Optional
    - pool.ntp.org
  installManifestsFolder: install_manifests # Optional
  postInstallManifestsFolder: post_manifests # Optional
  autoApproveCSRs: true # Optional, see docs/CSR_APPROVER.md
  diskEncryption: # Optional
    enableOn: "none" # Possible values: none,all,masters,workers
    mode: "tpmv2"
  disableConsole: false # Optional
  relocatable: eno1 # Optional, see docs/RELOCATABLE.md
  odfStorage: # Optional
    # If you are using a mirror, you must configure a CatalogSource using postInstallManifestsFolder
    # See the post_manifests_mirror_example folder for an example of how to do this
    enabled: true
    catalogSource: redhat-operators
    imageRegistry: false # Will deploy the integrated OCP registry if true
  performanceProfileSpec: # Optional
    # You can omit machineConfigPoolSelector and nodeSelector, they will be automatically added
    master: # MachineConfigPool name, should be 'master' for SNO
      cpu:
        isolated: <isolated_set> # Example: "2-31,34-63"  there should be no spaces
        reserved: <reserved_set> # Example: "0-1,32-33"  there should be no spaces
      numa:
        topologyPolicy: "restricted"

baseDomain: <cluster_domain>
compute:
  - name: worker
    replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: <cluster_name>
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
    - 172.30.0.0/16
platform:
  baremetal:
    hosts:
      - name: openshift-master-0
        role: master
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "2:0:0:0" # See https://docs.openshift.com/container-platform/4.11/rest_api/provisioning_apis/baremetalhost-metal3-io-v1alpha1.html#spec-rootdevicehints
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                address:
                  - ip: <static_ip_address>
                    prefix-length: <prefix_length>
                enabled: true
                dhcp: false
              ipv6:
                enabled: false
          dns-resolver:
            config:
              server:
                - <dns_server_ip>
          routes:
            config:
              - destination: 0.0.0.0/0
                next-hop-address: <default_gateway>
                next-hop-interface: eno1
pullSecret: '{"auths":{"<mirror_url>:8443":{"auth":"aW5pdDpYaTA0eTk3TFdGR1E4M1ptMW82MnpwcmJrdzV0S2hITg=="}}}'
sshKey: |
  ssh-rsa ...
