apiVersion: v1

# Additional parameters for openshift-edge-installer
edgeCluster:
  hypershift: true # see docs/HYPERSHIFT.md
  clusterImageSet: <mirror_url>:8443/openshift/release-images:4.12.0-x86_64 # Required
  additionalNTPSources: # Optional
    - pool.ntp.org
  postInstallManifestsFolder: post_manifests # Optional, see README.md
  postInstallScriptsFolder: post_scripts # Optional, see README.md
  odfStorage: # Optional
    # If you are using a mirror, you must configure a CatalogSource using postInstallManifestsFolder
    # See the post_manifests_mirror_example folder for an example of how to do this
    enabled: true
    catalogSource: redhat-operators # Optional, defaults to redhat-operators
    imageRegistry: false # Will deploy the integrated OCP registry if true, defaults to false

baseDomain: <cluster_domain>
compute:
  - name: worker
    replicas: 2
metadata:
  name: <cluster_name>
networking:
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  networkType: OVNKubernetes
  serviceNetwork:
    - cidr: 172.30.0.0/16
platform:
  baremetal:
    apiVIP: <api_address>
    ingressVIP: <ingress_address>
    hosts:
      - name: openshift-worker-0
        role: worker
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "1:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
      - name: openshift-worker-1
        role: worker
        bmc:
          address: "redfish-virtualmedia://<bmc_ip_address>/redfish/v1/Systems/1"
          username: <username>
          password: <password>
        bootMACAddress: <nic1_mac_address>
        rootDeviceHints:
          hctl: "2:0:0:0"
        networkConfig:
          interfaces:
            - name: eno1
              type: ethernet
              macAddress: <nic1_mac_address>
              state: up
              ipv4:
                enabled: true
                dhcp: true
              ipv6:
                enabled: false
pullSecret: '{"auths":{"<mirror_url>:8443":{"auth":"aW5pdDpYaTA0eTk3TFdGR1E4M1ptMW82MnpwcmJrdzV0S2hITg=="}}}'
sshKey: |
  ssh-rsa ...
