apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ item.pv_name }}
spec:
  capacity:
    storage: {{ item.pv_size }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /var/local/{{ item.pv_name }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ first_node }}
