# this allows the Baremetal Operator to boot and manage hosts for other clusters
# it also enables the operator on SNO clusters, where it is off by default
- name: Configure Baremetal Operator
  kubernetes.core.k8s:
    template: provisioning.yaml.j2
    state: present
  register: k8s_result
  until: k8s_result is not failed

- name: Install MCE and CIM
  block:
    - name: Install MCE operator # noqa role-name[path]
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../common/roles/install_operator"
      vars:
        operator_name: multicluster-engine
        operator_namespace: multicluster-engine
        all_namespaces: false
        cluster_monitoring: false

    - name: Create MCE
      kubernetes.core.k8s:
        definition:
          apiVersion: multicluster.openshift.io/v1
          kind: MultiClusterEngine
          metadata:
            name: multiclusterengine
          spec: {}
        apply: true
        state: present
      register: create_mce
      until: create_mce is not failed

    - name: Wait for MCE to be deployed
      kubernetes.core.k8s_info:
        api_version: multicluster.openshift.io/v1
        kind: MultiClusterEngine
        name: multiclusterengine
      register: mce
      until: (mce.resources[0].status.phase is defined) and (mce.resources[0].status.phase == "Available")
      retries: 60
      delay: 10

    # this config map is referenced by the AgentServiceConfig, these mirror settings are copied to the edge clusters
    - name: Create mirror registry config map for edge cluster
      when: mirror_url is defined
      kubernetes.core.k8s:
        template: mirror-cm.yaml.j2
        apply: true
        state: present
      register: k8s_result
      until: k8s_result is not failed

    # TODO: it seems like PUBLIC_CONTAINER_REGISTRIES may not be required in ACM 2.7/MCE 2.2, need to check when they are released
    - name: Add CIM Config Map
      kubernetes.core.k8s:
        template: assisted-service-config.yaml.j2
        apply: true
        state: present
      register: k8s_result
      until: k8s_result is not failed

    - name: Configure CIM
      kubernetes.core.k8s:
        template: AgentServiceConfig.yaml.j2
        apply: true
        state: present
        wait: true
        wait_condition:
          type: DeploymentsHealthy
          status: "True"
        wait_timeout: 1200
      register: k8s_result
      until: k8s_result is not failed
  rescue: # CRs need to be removed before the namespaces holding the operators are removed, or else the CR finalizers will get stuck
    - name: Delete CIM
      kubernetes.core.k8s:
        definition:
          apiVersion: agent-install.openshift.io/v1beta1
          kind: AgentServiceConfig
          metadata:
            name: agent
        state: absent
        wait: true
        wait_timeout: 1200
      ignore_errors: true # noqa ignore-errors

    - name: Delete MCE
      kubernetes.core.k8s:
        definition:
          apiVersion: multicluster.openshift.io/v1
          kind: MultiClusterEngine
          metadata:
            name: multiclusterengine
        state: absent
        wait: true
        wait_timeout: 1200
      ignore_errors: true # noqa ignore-errors

    - name: Delete Namespace
      kubernetes.core.k8s:
        definition:
          apiVersion: v1
          kind: Namespace
          metadata:
            name: multicluster-engine
        state: absent
        wait: true
        wait_timeout: 1200

    - name: End playbook
      ansible.builtin.meta: end_play
