name: Build project
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-code:
    runs-on: ubuntu-latest
    container: registry.fedoraproject.org/fedora:latest
    steps:
      - name: Install packages
        run: |
          dnf -q -y update
          dnf -q -y install python3-pip git ShellCheck
          pip3 install --upgrade pip
          pip3 install --upgrade ansible-core kubernetes jmespath ansible-lint netaddr
          ansible-galaxy collection install -U kubernetes.core community.general ansible.utils
          git config --global --add safe.directory /__w/openshift-edge-installer/openshift-edge-installer
      - uses: actions/checkout@v3
      - name: Check code
        run: |
          ansible-lint -s -x yaml[line-length] common
          ansible-lint -s -x yaml[line-length] provisioning
          ansible-lint -s -x yaml[line-length] edge
          ansible localhost -m ansible.builtin.template -a "src=edge/roles/edge_install/templates/relocatable_ip.sh.j2 dest=relocatable_ip.sh" -e "{'edgeCluster':{'relocatable': {'interface': 'eno1', 'ipv4_subnet': '192.168.7.0/24', 'ipv6_subnet': 'fd04::/64'}},'relocatable_interface_macs':'addresses[\"11:22:33:44:55:66\"]=4','cluster_ipv4':true,'cluster_ipv6':true,'controlPlane':{'replicas':3}}"
          ansible localhost -m ansible.builtin.template -a "src=edge/roles/edge_install/templates/relocatable_ip.sh.j2 dest=relocatable_ip_sno.sh" -e "{'edgeCluster':{'relocatable': {'interface': 'eno1', 'ipv4_subnet': '192.168.7.0/24', 'ipv6_subnet': 'fd04::/64'}},'relocatable_interface_macs':'addresses[\"11:22:33:44:55:66\"]=4','cluster_ipv4':true,'cluster_ipv6':true,'controlPlane':{'replicas':1}}"
          shellcheck -o all relocatable_ip.sh relocatable_ip_sno.sh edge/roles/edge_csr_approver/files/csr_approver.sh

  test-container:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build container
        run: |
          podman build .
