name: Check Markdown links
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 9 * * 0"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
